{% extends 'issue_tracker/base.html' %}
{% block title %}Issue Registry{% endblock%}
{% block heading %}Issues Registry{% endblock %}
{% block logo_class %}fas fa-fw fa-table{% endblock %}
{% block content %}
<p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
<div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Repository Name</th>
                      <th>Username</th>
                      <th>Total Issues</th>
                      <th>Issues count within 24 hours</th>
                      <th>Issues count in between 1 and 7 days old</th>
                      <th>Issues count more than 7 days old</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Repository Name</th>
                      <th>Username</th>
                      <th>Total Issues</th>
                      <th>Issues count within 24 hours</th>
                      <th>Issues count in between 1 and 7 days old</th>
                      <th>Issues count more than 7 days old</th>
                    </tr>
                  </tfoot>
                  <tbody>
                  {% for issue in issues %}
                  <tr>
                      <td>{{issue.repository_name}}</td>
                    <td>{{issue.username}}</td>
                    <td>{{issue.total}}</td>
                    <td>{{issue.last_24_hours}}</td>
                    <td>{{issue.between_1_and_7_days}}</td>
                    <td>{{issue.more_than_7_days}}</td>
                    </tr>
                   {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
{% endblock %}
{% block scripts %}
<script>
// Call the dataTables jQuery plugin
$(document).ready(function() {
  $('#dataTable').DataTable();
});
</script>
{% endblock %}